
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


/app/build/


*.jks
*.keystore
*.p12
*.key


__pycache__/
*.py[cod]
*$py.class
.venv
env/
venv/
*.glb
*.jpg
*.mp4
*.db


thumbs.db
